html,
body {
  margin: 0;
}

.playground {
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

.canvas {
  display: flex;
  justify-content: center;
}

.information {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
